<!DOCTYPE html>
<html>
  <head>
    <title>Blitzen</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('Blitzen.png') %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <%# HEADER %>
  <%= render "layouts/header" %>

  <div class="container-fluid">
    <body>
      <%=yield %> <%# individually loaded pages %>
    </body>
  </div>
  <%# FOOTER %>
  <%= render "layouts/footer" %>
</html>
